<div>
check out other thoughts: <%= render partial: 'thoughts/thought_categories' %>
</div>

<br />
<h1 class="title"><%= @thought.title %></h1>
<br />

<% if @thought.hero_image.asset.present? %>
<div>
    <%= image_tag @thought.hero_image.asset.url %>
</div>
<% end %>
<br />

<div>
    <%= @thought.body.html_safe %>
</div>